/* SECTION HEADER */

/* header nav div img{
	display: inline;
	border:1px solid black ;
} */
.menu{
	height: 80px;
}
.logo{
	margin-top: -15px;
}
/* header nav div a{
	display: inline;
} */
#Slider{
	height: 500px;
}

#Slider img{
	height: 500px;
	width: 100%;
}


/* FIN SECTION HEADER */
/**SECTION PRESANTATION **/
#presantation #presanttion1{
    margin: 40px;
}
.presantation_gauche{
    padding: 20px;
    font-size: 25px;
    line-height: 1.4em;
    color:rgb(122, 118, 118);
    text-align: justify;
}
.presantation_gauche p{
    margin: 10px;
    color:darkgray;
}
/* SECTION FONT_VIEDO */
#Image_fixed{
	height: 400px;
    background-image:url('resourses/images/hotel.jpg');
    background-attachment:fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	text-align: center;
}
#Image_fixed .contenue{
    height: 400px;
    background-color: rgba(27, 4, 4, 0.3);
    width: 100%;
}
#Image_fixed .content {
    
    color: white;
    position: relative;
    font-weight: bolder;
    top:70px;
    text-align: center;
    background-color: rgba(53, 29, 29, 0.3);
    padding: 40px 10px ;
}
/* SECTION VIDEOS DE FONT */
#vidoe_font{
    position: static;
    left: 0px;
    overflow: hidden;
    width: 100%;
    background: rgb(124, 148, 158);
    z-index: -1000;
} 
#video_font .video{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    list-style-image: url()
    /* z-index :100; */
    /* border-radius */
}
#vidoe_font .contenue{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(27, 4, 4, 0.3);
}
#vidoe_font .contenue {
    
    color: white;
    position: relative;
    
    font-weight: bolder;
    /* top:70px;     */
    text-align: center;
    background-color: rgba(53, 29, 29, 0.3);
    padding: 20px;
}
/* SECTION DES BOUTONS D'AFFICHARGE */
.adhesion{
    text-decoration: none;
    background-color: rgb(163, 117, 117);
    line-height: 1.5em;
    border: none;
    border-radius: 5px;
    margin-top:15px;
    padding: 10px;
    color: white;
    transition: .5s ease;
}
.adhesion a  :hover{
    padding: 25px;
    text-decoration: none;
    background-color: rgb(196, 83, 83);
}
.adhesion1{
    text-decoration: none;
    line-height: 1.5em;
    border: none;
    border-radius: 5px;
    margin-top:5px;
    padding: 10px;
    color: white;
}
#about_my{
    text-decoration: none;
    line-height: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: rgb(103, 103, 184);
    padding: 10px;
    position: relative;
    left: 500px;
    bottom: 70px;
}
/* SECTION IMAGES  */
#port-folio{

}
#port-folio h2 {
    color: orange;
    text-align: center;
    font-weight: bold;
}
#port-folio h3 {
    color: rgb(212, 153, 44);
    text-align: center;
}
#image1 :hover .next{
    opacity: 1;
}
#port-folio img{
    height: 250px;
    width: 400px;
}
.next{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(24, 12, 12, 0.3);
    transition: .5s ease;
}
.next a {
    position: absolute;
    bottom: 30px;
    left: 40%;
}

/* SECTION footer */
.modal-body1{
    background-image: url('resourses/images/hotel.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
footer{
    height: 400px;
    color: white;
    font-weight: bolder;
   background-color:#121921;
}
footer #google_map{
    float: right;
    width: 600px;
}
footer ul{
    display: inline-block;
    margin-bottom: 0;
    width: 300px;
}
footer ul li{
    display: inline-block;
    padding: 15px;
}



/* SECTION MODAL */
.modal-body2 .image{
    border-right: 2px solid orange;
    display: inline-block; 
    float: left;
    top: 0;
    left: 0;
    padding: 25px;
    height: 450px;
}
.modal-body2 h3{
    color: rgb(233, 161, 27);
}
.modal-body2 .image .bouton{
    display: block;
    margin: 25px;
}
.modal-body2 .cv{
    
    right: 0;
    display: inline-block;
    padding-left: 20px; 
    border: 1px solid orange;
    border-right: none;
    height: 450px;

}
#Mymodal .modal-body{
    background-image: 
}